.info-container {
  width: 100%;
  /* background-color: rgba(39, 130, 31, 0.2); */

  display: flex;
  flex-direction: row;
}
.info-box {
  display: flex;
  flex-direction: column;
  margin-right: 100px;
  font-weight: bold;
  .key {
    font-size: x-small;
    
  }
  .value {
    font-size: larger;
  }
}
