.main-container {
  padding-top: 20px;
  padding-left: 20px;
  color: #fff;
  font-family: sans-serif;
  width: 100%;
  /* background-color: aquamarine; */

  .server {
    max-height: 550px;
    overflow-y: auto;
    overflow-x: hidden;
    
  }
}

::-webkit-scrollbar {
  width: 2px;
  height: 0;
}
::-webkit-scrollbar-track {
  background: rgb(255, 255, 255, 0.1);
}
::-webkit-scrollbar-thumb {
  background-color: white;
}
